body
{
    background-color: #151515;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
}

h1
{
    text-align: center;
    color: #FFFFFF;
    font-family: Lulo;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

h2
{
    text-align: center;
    font-size: large;
    color: #B9A899;
    font-family: Helvetica_Now;
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

nav
{
    margin-top: 50px;
    text-align: center;
    z-index: 1;
    position: relative;
}

nav a
{
    color: #B9A899;
    text-decoration: none;
    padding: 15px;
    font-family: Helvetica_Now_Bold;
    z-index: 1;
}

.selected_works
{
    position: relative;
}

nav a.active
{
    color: #675F57;
}

nav a:hover
{
    color: #FEFCF1;
}

hr
{
    margin-top: 50px;
    border: 2.5px solid #675F57;
    z-index: 1;
}

.video-container
{
    position: sticky;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-container video
{
    position: static;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.8;
    mask-image: linear-gradient(to bottom, rgba(0.0,0.0,0.0,1.0), rgba(1.0,1.0,1.0,0.0));
}

.second_half_wrapper
{
    background-color: #151515;
    color: #FFFFFF;
    z-index: 1;
}

@font-face
{
    font-family: Lulo;
    src: url(fonts/WOFF/Lulo\ Clean\ One\ Bold.woff);
}

@font-face
{
    font-family: Helvetica_Now;
    src: url(fonts/helvetica_now/hinted-HelveticaNowDisplay-Light.woff2);
}

@font-face
{
    font-family: Helvetica_Now_Bold;
    src: url(fonts/helvetica_now/hinted-HelveticaNowDisplay-Bold.woff2);
}