body
{
    background-color: #0A0C0F;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
}

.heading
{
    transform: translate(0, -60%);
}

h1
{
    text-align: center;
    color: #FFFFFF;
    font-family: Lulo_Bold;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

h2
{
    text-align: center;
    font-size: large;
    color: #B9A899;
    font-family: Helvetica_Now;
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

h3
{
    text-align: center;
    font-family: Lulo;
    font-size: xx-large;
    color: #B9A899;
}

h4
{
    font-family: Helvetica_Now_Bold;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
    color: #B9A899;
}

p
{
    font-family: Helvetica_Now;
    color: #B9A899;
    text-align: center;
}

nav
{
    margin-top: 50px;
    text-align: center;
    z-index: 1;
    position: relative;
}

nav a
{
    color: #B9A899;
    text-decoration: none;
    padding: 15px;
    font-family: Helvetica_Now_Bold;
    z-index: 1;
}

.selected_works
{
    position: relative;
}

nav a.active
{
    color: #ffffff;
}

nav a:hover
{
    color: #FEFCF1;
}

hr
{
    margin-top: 50px;
    border: 2.5px solid #B9A899;
    z-index: 1;
}

.video-container
{
    position: sticky;
    top: 0;
    min-width: 100%;
    /* min-height: 100%; */
    height: 175pt;
    z-index: -1;
}

.video-container video
{
    position: sticky;
    min-width: 100%;
    z-index: -1;
    opacity: 0.8;
    mask-image: linear-gradient(to bottom, rgba(0.0,0.0,0.0,1.0), rgba(1.0,1.0,1.0,0.0));
}

.second_half_wrapper
{
    background-color: #0A0C0F;
    color: #FFFFFF;
    z-index: 1;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column
{
    text-align: center;
    float: left;
    width: 50%;
}
 
.row:after
{
    content: "";
    display: table;
    clear: both;
}

@font-face
{
    font-family: Lulo;
    src: url(fonts/lulo-c1/Lulo-C1.woff);
}

@font-face
{
    font-family: Lulo_Bold;
    src: url(fonts/lulo-c1/Lulo-C1B.woff);
}

@font-face
{
    font-family: Helvetica_Now;
    src: url(fonts/helvetica_now/HelveticaNowDisplay-Light.woff2);
}

@font-face
{
    font-family: Helvetica_Now_Bold;
    src: url(fonts/helvetica_now/HelveticaNowDisplay-Bold.woff2);
}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0px;
    margin-top: -22px;
    color: #B9A899;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
    font-family: 'Courier New', Courier, monospace;
    color: #B9A899;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #B9A899;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: -30px;
    position: absolute;
    top: 0;
}